* {
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    
}

aside {
    grid-area: aside;
    height: 100vh;
    width: 200px;
}


main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.grid {
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";

}


header {
    grid-area: header;
    text-align: center;
    background-color: rgba(25, 80, 125);
    color: white;
    padding: 10px;
}

.header-content{
    margin-bottom: 20px;

}
.container-principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-bottom: 20px;


}

img {
    width: 100%;
}

.menu {
    
}

.list-products {
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    display: flex;
    text-align: center;
    margin-left: 20px;
    
}

.item-container>p {
    text-align: center;
}

.botton-comprar {
    background-color: rgba(25, 80, 125);
    color: white;
    border: 1px;
}